# See http://help.github.com/ignore-files/ for more about ignoring files.

ngnode-fullstack.sqlite
# compiled output
/tmp
/dist
/dist-server
/static
prerender-gen.js
server-gen.js
#logs
debug.log
npm-debug.log*
package.lock.json
yarn.lock
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# app js
/src/app/**/*.js
/src/app/**/*.js.map

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
