<appc-simple-notifications [options]="notificationOptions"></appc-simple-notifications>

<header class="header">
  <nav class="inner">
    <a routerLink="">
      <img class="logo" src="/assets/icons/logo.png" alt="logo">
    </a>
    <a routerLinkActive="active" routerLink="">{{'APP_NAV_HOME' | translate}}</a>
    <a routerLinkActive="active" routerLink="profile" *ngIf="authService.isLoggedIn()" to="/profile">{{authService.user()?.displayName}}</a>
    <a (click)="authService.logout()" href="javascript:void(null);" *ngIf="authService.isLoggedIn()"> {{'APP_NAV_LOGOUT' | translate}} </a>
    <a routerLinkActive="active" routerLink="register" *ngIf="!authService.isLoggedIn()" to="/register">{{'APP_NAV_REGISTER' | translate}}</a>
    <a routerLinkActive="active" routerLink="login" *ngIf="!authService.isLoggedIn()" to="/login">{{'APP_NAV_LOGIN' | translate}}</a>
    <a class="github" href="https://github.com/asadsahi/ngnode-fullstack" target="_blank" rel="noopener">
      Angular Node Fullstack
    </a>
  </nav>
</header>
