/* You can add global styles to this file, and also import other style files */

.footer {
    position: fixed;
    bottom: 0;
}

// App spinner
.app-spinner {
  padding: 30% 50%;
}

.dropdown-toggle {
  cursor: pointer;
}

.list-group-item {
  padding: 0;
}

